<!DOCTYPE html>
<html>
<head>
  <link href="/login.css" rel="stylesheet" />

</head>
<body>
  <div class="container">
    <h2>Student Tracking Web Application</h2>
    <form action="" id="form">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="name" placeholder="Enter your Username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Enter your password" required>
      </div>
      <div class="form-group">
        <input type="submit" id="submit" value="Submit">
      </div>
      <div class="register-link">
        <p>Don't have an account? <a href="/register">Register here</a></p>
      </div>
    </form>
</div>
<script src="/login1.js"></script>
</body>
</html>
