
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url("/images/suza.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  height: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 600px) {
  .container {
    width: 300px;
    height: auto;
  }
}